<%- include('partials/nav.ejs') %>
   <link rel="stylesheet" href="<?php echo base_url();?>assets/libs/datatables/datatables.css">
   <div class="layout-content">
      <div class="container-fluid flex-grow-1 container-p-y">
         <h4 class="font-weight-bold py-3 mb-0">Schools
         </h4>
         <div class="text-muted small mt-0 mb-4 d-block breadcrumb">
            <ol class="breadcrumb">
               <li class="breadcrumb-item"><a href="/admin/dashboard"><i class="feather icon-home"></i></a></li>
               <li class="breadcrumb-item"><a href="/admin/dashboard">Dashboard</a></li>
               <li class="breadcrumb-item"><a href="  ">Schools</a></li>
            </ol>
         </div>
         <div class="row">
            <div class="row">
               <div class="col-lg-12">
                  <div class="row g-3">
                     <div class="col-md-3 col-6">
                        <h6 class="card-header mb-2">Month</h6>
                        <div class="home-select">
                           <span>
                              <button id="daterange-4" class="btn btn-default dropdown-toggle md-btn-flat "></button>
                           </span>
                        </div>
                     </div>
                     <div class="col-md-4">
                        <h6 class="card-header mb-2">City</h6>
                        <div class="home-select" id="home-select2">
                           <select id="cityFilter" class="selectpicker selectpicker1" data-style="btn-default"
                              data-live-search="true">
                              <option value="">--select--</option>
                              <% const uniqueCities=new Set(); schools.reverse().forEach((teacher, index)=> {
                                 const city = teacher.city;
                                 if (!uniqueCities.has(city)) {
                                 uniqueCities.add(city);%>
                                 <option value="<%= city %>" class="td">
                                    <%= city %>
                                 </option>
                                 <%}});%>
                           </select>
                        </div>
                     </div>
                     <div class="col-md-4">
                        <h6 class="card-header mb-2">School Type</h6>
                        <div class="home-select" id="home-select3">
                           <select id="schoolTypeFilter" class="selectpicker" data-style="btn-default"
                              data-live-search="true">
                              <option value="">--select--</option>
                              <option value="CBSE Board School">CBSE Board School</option>
                              <option value="State Board School">State Board School</option>
                              <option value="Play School">Play School</option>
                              <option value="Primary School">Primary School</option>
                              <option value="Other">Other</option>
                           </select>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-lg-12 mt-5">
                  <div class="row">
                     <div class="col-md-3 col-6">
                        <div class="card mb-4 bg-success text-white">
                           <div class="card-body">
                              <div class="d-flex flex-column align-items-center justify-content-between">
                                 <h2>Total</h2>
                                 <div class="d-flex flex-column align-items-center">
                                    <h2 class="mt-2">
                                       <%= schools.length %>
                                    </h2>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-3 col-6">
                        <div class="card mb-4 text-white" style="background-color: #007BFF;">
                           <div class="card-body">
                              <div class="d-flex flex-column align-items-center justify-content-between">
                                 <h2>Today</h2>
                                 <div class="d-flex flex-column align-items-center">
                                    <h2 class="mt-2">
                                       <% let todayCount=0; schools.forEach((teacher)=> {
                                          const createdAtDate = new Date(teacher.createdAt);
                                          const today = new Date();

                                          if (
                                          createdAtDate.getDate() === today.getDate() &&
                                          createdAtDate.getMonth() === today.getMonth() &&
                                          createdAtDate.getFullYear() === today.getFullYear()
                                          ) {
                                          todayCount++;
                                          }
                                          });
                                          %>
                                          <%= todayCount %>
                                    </h2>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-3 col-6">
                        <div class="card mb-4 bg-warning text-white">
                           <div class="card-body">
                              <div class="d-flex flex-column align-items-center justify-content-between">
                                 <h2>Active</h2>
                                 <div class="d-flex flex-column align-items-center">
                                    <h2 class="mt-2">
                                       <% const desiredStatusActive='Active' ; %>
                                          <% const studentsWithActiveStatus=schools.filter(school=> school.status ===
                                             desiredStatusActive); %>
                                             <%= studentsWithActiveStatus.length %>
                                    </h2>
                                 </div>
                              </div>
                           </div>

                        </div>
                     </div>
                     <div class="col-md-3 col-6">
                        <div class="card mb-4 bg-danger text-white">
                           <div class="card-body">
                              <div class="d-flex flex-column align-items-center justify-content-between">
                                 <h2>Inactive</h2>
                                 <div class="d-flex flex-column align-items-center">
                                    <h2 class="mt-2">
                                       <% const desiredStatusInactive='Inactive' ; %>
                                          <% const studentsWithInactiveStatus=schools.filter(school=> school.status
                                             === desiredStatusInactive); %>
                                             <%= studentsWithInactiveStatus.length %>
                                    </h2>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-sm-12">
               <div class="card">
                  <div class="card-body">
                     <div class="row align-items-center m-l-0">
                        <div class="col-sm-6">

                        </div>
                        <div class="col-sm-6 text-right">
                           <a href="/admin/school_add"><button class="btn btn-success btn-sm mb-3"><i
                                    class="feather icon-plus"></i> Add Teacher</button></a>
                        </div>
                     </div>
                     <div id="toolbar">
                        <button class="btn btn-success mb-3" onclick="exportToExcel()">
                           <i class="fa fa-file-excel-o"></i> Export to Excel
                        </button>
                     </div>
                     <div class="table-responsive">
                        <table id="report-table-page2" class="table table-striped table-hover" data-show-export="true"
                           data-click-to-select="true" data-toolbar="#toolbar" data-show-toggle="true"
                           data-show-columns="true" data-url="">
                           <thead>
                              <tr>
                                 <th>S NO.</th>
                                 <th>Status</th>
                                 <th>Action</th>
                                 <th>Date</th>
                                 <th>School Name</th>
                                 <th>School email Id</th>
                                 <th>School Contact No</th>
                                 <th>Name</th>
                                 <th>Designation</th>
                                 <th>Number</th>
                                 <th>Working Email Id</th>
                                 <th>School Type</th>
                                 <th>City</th>
                                 <th>State</th>
                                 <th>Pincode</th>
                                 <th>School Website</th>
                              </tr>
                           </thead>
                           <tbody class="table-new">
                              <% schools.forEach((school, index)=> { %>
                                 <tr>
                                    <td>
                                       <%= index + 1 %>
                                    </td>
                                    <td>
                                       <form action="/admin/school_status" method="post">
                                          <input type="hidden" name="school" value="<%= school._id %>">
                                          <button type="submit"
                                             class="btn <%= school.status === 'Active' ? 'btn-success' : 'btn-danger' %> toggle-status"
                                             name="status">
                                             <%= school.status %>
                                          </button>
                                       </form>
                                    </td>
                                    <td>
                                       <a href="/admin/school_details/<%= school._id %>" class="btn btn-info btn-sm"><i
                                             class="feather icon-eye"></i></a>
                                       <a href="/admin/school_edit/<%= school._id %>" class="btn btn-info btn-sm"><i
                                             class="feather icon-edit"></i> </a>
                                       <a href="/admin/school_delete/<%= school._id %>"
                                          class="btn btn-danger btn-sm delete-btn" data-school-id="<%= school._id %>"><i
                                             class="feather icon-trash-2"></i></a>
                                    </td>

                                    <td>
                                       <%= school.createdAt.toLocaleDateString() %>
                                    </td>
                                    <td class="td">
                                       <%= school.schoolName %>
                                    </td>
                                    <td class="td">
                                       <%= school.schoolemail %>
                                    </td>
                                    <td class="td">
                                       <%= school.schoolcontact %>
                                    </td>
                                    <td class="td">
                                       <%= school.firstname %>
                                          <%= school.lastname %>
                                    </td>
                                    <td class="td">
                                       <%= school.designation %>
                                    </td>

                                    <td class="td">
                                       <%= school.contact %>
                                    </td>
                                    <td>
                                       <%= school.email %>
                                    </td>
                                    <td class="td">
                                       <%= school.schoolType %>
                                    </td>
                                    <td class="td">
                                       <%= school.city %>
                                    </td>
                                    <td class="td">
                                       <%= school.state %>
                                    </td class="td">
                                    <td>
                                       <%= school.pincode %>
                                    </td>
                                    <td>
                                       <a href="<%= school.schoolWebsite %>" target="_blank">
                                          <%= school.schoolWebsite %>
                                       </a>
                                    </td>
                                 </tr>
                                 <% }); %>
                           </tbody>
                        </table>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>



      <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

      <script>
         document.addEventListener('DOMContentLoaded', function () {
            var deleteButtons = document.querySelectorAll('.delete-btn');
            deleteButtons.forEach(function (button) {
               button.addEventListener('click', function (event) {
                  event.preventDefault();

                  var blogId = button.getAttribute('data-school-id');

                  // Show SweetAlert confirmation
                  Swal.fire({
                     title: 'Are you sure?',
                     text: 'You won\'t be able to revert this!',
                     icon: 'warning',
                     showCancelButton: true,
                     confirmButtonColor: '#d33',
                     cancelButtonColor: '#3085d6',
                     confirmButtonText: 'Yes, delete it!'
                  }).then(function (result) {
                     if (result.isConfirmed) {
                        window.location.href = '/admin/school_delete/' + blogId;
                     }
                  });
               });
            });
         });
      </script>



      <script>
         $(document).ready(function () {
            $('#report-table-page2').table({
               exportDataType: 'all',
               exportTypes: ['excel'],
               exportOptions: {
                  fileName: 'teacher_data',
                  ignoreColumn: [0],
               },
            });
         });

         function exportToExcel() {
            $('#report-table-page2').tableExport({ type: 'excel', escape: 'false' });
         }
      </script>

      <script>
         $(document).ready(function () {
            $('#report-table-page2').DataTable();




            $('#daterange-4').on('apply.daterangepicker', function (ev, picker) {
               var startDate = picker.startDate.toDate();
               var endDate = picker.endDate.toDate();
               $('.table-new tr').hide();

               $('.table-new tr').each(function () {
                  var rowDate = new Date($(this).find('td:eq(3)').text());

                  if (rowDate >= startDate && rowDate <= endDate) {
                     $(this).show();
                  }
               });
            });


            // City filter script
            function applyCityFilter() {
               var selectedCity = $('#cityFilter').val().trim().toLowerCase();
               $('.table-new tr').each(function () {
                  var cityInRow = $(this).find('td:eq(12)').text().trim().toLowerCase();
                  $(this).toggle(selectedCity === '' || cityInRow === selectedCity);
               });
            }

            $('#cityFilter').change(applyCityFilter);
            applyCityFilter();



            // School Type filter script
            function applySchoolTypeFilter() {
               var selectedSchoolType = $('#schoolTypeFilter').val().trim().toLowerCase();
               $('.table-new tr').each(function () {
                  var schoolTypeInRow = $(this).find('td:eq(11)').text().trim().toLowerCase();

                  $(this).toggle(selectedSchoolType === '' || schoolTypeInRow === selectedSchoolType);
               });
            }

            $('#schoolTypeFilter').change(applySchoolTypeFilter);
            applySchoolTypeFilter();


         });
      </script>
      <%- include('partials/footer.ejs') %>