<%- include('partials/nav.ejs') %>

   <!----------------->
   <!-- [ Layout content ] Start -->
   <div class="layout-content">
      <!-- [ content ] Start -->
      <div class="container-fluid flex-grow-1 container-p-y">
         <h4 class="font-weight-bold py-3 mb-0">School Details</h4>
         <div class="text-muted small mt-0 mb-4 d-block breadcrumb">
            <ol class="breadcrumb">
               <li class="breadcrumb-item"><a href="/admin/dashboard"><i class="feather icon-home"></i></a></li>
               <li class="breadcrumb-item"> <a href="/admin/schools">School</a></li>
               <li class="breadcrumb-item active">School Details</li>
            </ol>
         </div>
         <div class="row">
            <div class="col-xl-12">
               <!-- Info Edits -->
               <div class="card mb-4">
                  <div class="card-body">
                     <lable>Teacher Details</lable>
                     <a style="float: right;" class="btn btn-primary btn-round"
                        href="/admin/school_edit/<%= school._id %>">Edit</a>
                     <hr>
                     <div class="row mb-2 g-3 justify-content-between">
                        <div class="col-md-5 d-flex gap-2">
                           <div>School Name:</div>
                           <div class="td"><b>
                                 <%= school.schoolName %>
                              </b></div>
                        </div>
                        <div class="col-md-5 d-flex gap-2">
                           <div>School Email Id:</div>
                           <div><b>
                                 <a href="mailto:<%= school.schoolemail %>">
                                    <%= school.schoolemail %>
                                 </a>
                              </b></div>
                        </div>
                        <div class="col-md-5 d-flex gap-2">
                           <div>School Contact No:</div>
                           <div><b>
                                 <a href="tel:<%= school.contact %>" target="_blank">
                                    <%= school.schoolcontact %>
                                 </a>
                              </b></div>
                        </div>
                        <div class="col-md-5 d-flex gap-2">
                           <div>School Website:</div>
                           <div><b>
                                 <a href="<%= school.schoolWebsite %>" target="_blank">
                                    <%= school.schoolWebsite %>
                                 </a>
                              </b></div>
                        </div>
                        <div class="col-md-5 d-flex gap-2">
                           <div>Full Name:</div>
                           <div class="td"><b>
                                 <%= school.firstname %> <%= school.lastname %>
                              </b></div>
                        </div>
                        <div class="col-md-5 d-flex gap-2">
                           <div>Designation:</div>
                           <div class="td"><b>
                                 <%= school.designation %>
                              </b></div>
                        </div>
                        <div class="col-md-5 d-flex gap-2">
                           <div>Phone Number:</div>
                           <div><b>
                                 <a href="tel:<%= school.contact %>" target="_blank">
                                    <%= school.contact %>
                                 </a>

                              </b></div>
                        </div>
                        <div class="col-md-5 d-flex gap-2">
                           <div>Working Email address:</div>
                           <div class="td"><b>
                                 <%= school.email %>
                              </b></div>
                        </div>
                        <div class="col-md-5 d-flex gap-2">
                           <div>Address:</div>
                           <div class="td"><b>
                                 <%= school.address %>
                              </b></div>
                        </div>
                        <div class="col-md-5 d-flex gap-2">
                           <div>City:</div>
                           <div class="td"><b>
                                 <%= school.city %>
                              </b></div>
                        </div>
                        <div class="col-md-5 d-flex gap-2">
                           <div>State:</div>
                           <div><b>
                                 <%= school.state %>
                              </b></div>
                        </div>
                        <div class="col-md-5 d-flex gap-2">
                           <div>Pincode:</div>
                           <div><b>
                                 <%= school.pincode %>
                              </b></div>
                        </div>
                        <div class="col-md-5 d-flex gap-2">
                           <div>School Type:</div>
                           <div class="td"><b>
                                 <%= school.schoolType %>
                              </b></div>
                        </div>
                        <div class="col-md-12 gap-2">
                           <div><b>Remark:</b></div>
                           <div class="text-justify">
                              <%= school.remark %>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <!------------------------------------------->
               <!-- Posts -->
            </div>
         </div>
      </div>
   </div>

   <%- include('partials/footer.ejs') %>