<%- include('partials/nav.ejs') %>

    <!-- Page Content Start -->
    <div class="page-content user-dash-board">
        <!-- Banner  -->
        <div class="dz-bnr-inr dz-bnr-inr-sm text-center overlay-primary-dark"
            style="background-image: url(/Frontend/assets/frontend/images/banner/bnr3.jpg);">
            <div class="container">
                <div class="dz-bnr-inr-entry">
                    <h1>Blog Details</h1>
                    <nav aria-label="breadcrumb" class="breadcrumb-row m-t15">
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="admin/index">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Blog Details</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <!-- Banner End -->
        <!-- Blog Details -->
        <section class="content-inner position-relative" style="background: white;">
            <div class="container">
                <div class="row ">
                    <div class="col-xl-8 col-lg-8">
                        <div class="blog-single pt-20 sidebar dz-card">
                           <div class="dz-media dz-media-rounded rounded">
                              <img src="<%= blogs.blogimg.url %>" alt="">
                           </div>
                           <div class="dz-info m-b30">
                              <div class="dz-meta">
                                 <ul>
                                    <li class="post-author">
                                       <a href="javascript:void(0);">
                                       <img src="<%= blogs.blogProfile.url %>" alt="">
                                       <span>By <span class="text-capitalize">
                                       <%= blogs.blogBy %>
                                       </span></span>
                                       </a>
                                    </li>
                                    <li class="post-date"><a href="javascript:void(0);">
                                       <%= blogs.createdAt.toLocaleDateString() %>
                                       </a>
                                    </li>
                                    <li class="post-comment"><a href="javascript:void(0);"><%= comments.length %> comment</a>
                                    </li>
                                 </ul>
                              </div>
                              <h3 class="dz-title">
                                 <%= blogs.blogHeading %>
                              </h3>
                              <div class="dz-post-text">
                                 <p>
                                    <%= blogs.blogDescription1 %>
                                 </p>
                                 <blockquote class="block-quote  style-1">
                                    <p>“<%= blogs.blogTitle %>”
                                    </p>
                                    <cite> <span class="text-capitalize">
                                    <%= blogs.blogBy %>
                                    </span> </cite>
                                 </blockquote>
                                 <ul class="m-b30">
                                    <% blogs.blogPoints.forEach(function(blogPoints) { %>
                                    <li class="mt-1">
                                       <%= blogPoints %>
                                    </li>
                                    <% }); %>
                                 </ul>
                                 <p>
                                    <%= blogs.blogDescription2 %>
                                 </p>
                              </div>
                              <div class="dz-share-post">
                                 <div class="post-tags">
                                    <h6 class="m-b0 m-r10 d-inline">Tags:</h6>
                                    <% var tagArray=blogs.blogTags.split(','); %>
                                    <% tagArray.forEach(function(tag, index) { %>
                                    <a href="javascript:void(0);">
                                    <span class="text-capitalize">
                                    <%= tag.trim() %>
                                    </span>
                                    </a>
                                    <% }); %>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="clear" id="comment-list">
                           <div class="comments-area" id="comments">
                              <div class="widget-title style-1">
                                 <h4 class="title">Comments</h4>
                              </div>
                              <div class="clearfix">
                                 <!-- comment list END -->
                                 <ol class="comment-list">
                                    <% if (comments.length > 0) { %>
                                       <% comments.reverse().forEach(function(comment, index) { %>
                                         <li class="comment">
                                           <div class="comment-body">
                                             <div class="comment-author vcard">
                                               <img class="avatar photo" 
                                                    src="<%= index % 2 === 0 ? 'https://hirewell.co.in/public/assets/frontend/images/avatar/avatar1.jpg' : 'https://hirewell.co.in/public/assets/frontend/images/avatar/avatar2.jpg' %>"
                                                    alt="">
                                               <cite class="fn text-capitalize"><%= comment.fullname %></cite>
                                             </div>
                                             <p><%= comment.comment %></p>
                                           </div>
                                         </li>
                                       <% }); %>
                                     <% } else { %>
                                       <p>No comments.</p>
                                     <% } %>
                                     
                                 </ol>
                                 <!-- comment list END -->
                                 <!-- Form -->

                                 <div class="contact-area">
                                    <div class="widget-title style-1">
                                       <h4 class="title" id="reply-title">Leave Your Comment
                                       </h4>
                                    </div>
                                    <form action="/submitComment/<%= blogs._id %>" method="post">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="input-group wow fadeInUp" data-wow-delay="1.8s">
                                                    <input name="fullname" type="text" class="form-control"
                                                        placeholder="Enter Full Name*" required>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="input-group wow fadeInUp" data-wow-delay="1.9s">
                                                    <input name="email" type="email" class="form-control" placeholder="Enter Email" required>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="input-group wow fadeInUp" data-wow-delay="2.2s">
                                                    <textarea name="comment" rows="5" class="form-control"
                                                        placeholder="Type Comment..." required></textarea>
                                                </div>
                                            </div>
                                            <div class="col-md-12 p-t20">
                                                <button class="btn btn-primary wow fadeInUp" data-wow-delay="2.4s">Submit</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                 <!-- Form -->
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-xl-4 col-lg-4">
                        <aside class="side-bar sticky-top right">
                           <div class="widget recent-posts-entry">
                              <div class="widget-title">
                                 <h4 class="title">Recent Blogs</h4>
                              </div>
                              <div class="widget-post-bx">
                                 <% blogss.reverse().forEach((blogs)=> { %>
                                 <div class="widget-post clearfix">
                                    <div class="dz-media dz-media1">
                                       <img src="<%= blogs.blogimg.url %>" alt="">
                                    </div>
                                    <div class="dz-info">
                                       <h6 class="title"><a href="<%= isAuthenticated ? '/teacher/blogDetails/' + blogs._id : '/blogDetails/' + blogs._id %>"><%= blogs.blogHeading %></a>
                                       </h6>
                                       <div class="dz-meta">
                                          <ul>
                                             <li class="post-date"><a href="javascript:void(0);"> <%= blogs.createdAt.toLocaleDateString() %></a>
                                             </li>
                                          </ul>
                                       </div>
                                    </div>
                                 </div>
                                 <% }); %>
                              </div>
                           </div>
                        </aside>
                     </div>
                </div>
            </div>
        </section>
        <!-- Blog Details -->
        <!--footer-action -->
    <%- include('partials/letsGet.ejs') %>

        <!-- footer-action -->
    </div>
    <!-- Page Content End -->
    <%- include('partials/footer.ejs') %>