<%- include('partials/nav.ejs') %>
<!-- Page Content Start -->
<div class="page-content">


   <div class="main-bnr bg-light">
      <!-- <form action="/teacher/signup" method="post" enctype="multipart/form-data">
         <input type="file" name="teacherresume">
         <button>Save</button>
         </form> -->
      <div class="container">
         <div class="row align-items-center">
            <div class="col-xl-7 col-lg-7 col-md-12">
               <div>
                  <h6 class="sub-title wow fadeInUp" data-wow-delay="0.4s">Hirewell Has Successfully Achieved</h6>
                  <h2 class=" wow fadeInUp" id="text" data-wow-delay="0.6s">More than</h2>
                  <h3 id="app" class=" wow fadeInUp text-primary" data-wow-delay="0.8s">BRANDING</h3>
               </div>
               <div>
                  <div class="row hero-hiring-sec wow fadeInUp" data-wow-delay="0.6s">
                     <div class="col-md-6 text-center">
                        <h3 class="" id="text">Find School Jobs</h3>
                        <% if (isAuthenticated) { %>
                        <a href="/teacher/openings" class="btn btn-primary">
                        Search Your Dream Job&nbsp;<i class="fa-solid fa-magnifying-glass"></i></a>
                        <% } else { %>
                        <a href="javascript:void(0);" data-bs-toggle="modal" data-bs-target=".bd-example-modal-lg1"
                           class="btn btn-primary">
                        Upload Resume & Find Jobs&nbsp;<i class="fa-solid fa-magnifying-glass"></i></a>
                        <% } %>
                     </div>
                     <div class="col-md-6 text-center">
                        <h3 class="text-primary" id="text">Hire School Staff</h3>
                        <% if (isAuthenticated) { %>
                        <a href="/teacher/contactUs/" class="btn btn-primary">
                        Post Job Openings & Start Hiring&nbsp;<i class="fa-solid fa-rocket"></i></a>
                        <% } else { %>
                        <a href="javascript:void(0);" data-bs-toggle="modal" data-bs-target=".bd-example-modal-lg1"
                           class="btn btn-primary">Post Job Openings & Start Hiring&nbsp;<i
                           class="fa-solid fa-rocket"></i></a>
                        <% } %>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-xl-5 col-lg-5 col-md-12">
               <div class="banner-media">
                  <img class="media wow fade" data-wow-delay="1.4s" src="/Frontend/newimg/section_img/hero_1.png" alt="">
                  <img class="media wow fade" data-wow-delay="1.4s" src="/Frontend/newimg/section_img/hero_2.png" alt="">
                  <ul class="bnr-blocks bnr-blocks1">
                     <li>
                        <a href="#service-section">
                           <div class="bnr-block wow fadeInUp anm" data-wow-delay="1.6s" data-speed-x="-1"
                              data-speed-scale="-1">
                              <i class="fa-solid fa-briefcase"></i>
                              <span class="block-text">Recruitment</span>
                           </div>
                        </a>
                     </li>
                     <li id="top-bottom-ani">
                        <a href="#Training-section">
                           <div class="bnr-block wow fadeInUp anm" data-wow-delay="1.6s" data-speed-x="-2"
                              data-speed-scale="-1">
                              <i class="fa-solid fa-chalkboard-user"></i>
                              <span class="block-text">Training</span>
                           </div>
                        </a>
                     </li>
                     <li>
                        <a href="#PreschoolSetup-section">
                           <div class="bnr-block  wow fadeInUp anm" data-wow-delay="1.6s" data-speed-x="-5"
                              data-speed-scale="-5">
                              <i class="fa-solid fa-up-right-and-down-left-from-center"></i>
                              <span class="block-text">Preschool Setup & Solutions</span>
                           </div>
                        </a>
                     </li>
                     <!-- <li id="top-bottom-ani">
                        <div class="bnr-block wow fadeInUp anm" data-wow-delay="1.6s" data-speed-x="-2"
                        data-speed-scale="-1">
                        <i class="fa-solid fa-briefcase"></i>
                        <span class="block-text">Current Openings</span>
                        </div>
                        </li> -->
                     <li id="top-bottom-ani">
                        <a href="#JollyPhonics-section">
                           <div class="bnr-block wow fadeInUp anm" data-wow-delay="1.6s" data-speed-x="-2"
                              data-speed-scale="-1">
                              <i class="fa-solid fa-pen"></i>
                              <span class="block-text">Jolly Phonics</span>
                           </div>
                        </a>
                     </li>
                  </ul>
               </div>
            </div>
         </div>
      </div>
      <svg class="shape2" viewBox="0 0 319 612" fill="none" xmlns="http:/www.w3.org/2000/svg">
         <mask id="mask0_54_23" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="319" height="612">
            <rect width="319" height="612" fill="var(--primary)"></rect>
         </mask>
         <g mask="url(#mask0_54_23)">
            <path
               d="M76.7559 377.481L36.5386 359.615C23.3563 353.759 16.9589 338.129 22.2524 324.711L38.402 283.774C43.6954 270.356 58.6781 264.223 71.8604 270.08L112.078 287.946C125.26 293.802 131.657 309.432 126.364 322.85L110.214 363.787C104.921 377.205 89.9382 383.338 76.7559 377.481Z"
               stroke="var(--primary-dark)" stroke-width="2" stroke-miterlimit="10"></path>
            <path
               d="M245.853 304.82L166.379 269.514C146.657 260.753 137.091 237.381 145.011 217.305L176.924 136.41C184.844 116.335 207.247 107.165 226.97 115.927L306.443 151.232C326.166 159.994 335.731 183.365 327.812 203.441L295.899 284.336C287.979 304.412 265.575 313.581 245.853 304.82Z"
               stroke="var(--primary-dark)" stroke-width="2" stroke-miterlimit="10"></path>
            <path
               d="M376.662 571.765L157.738 474.51C138.015 465.748 128.449 442.377 136.369 422.301L224.28 199.46C232.2 179.384 254.603 170.215 274.326 178.976L493.25 276.232C512.973 284.994 522.539 308.365 514.619 328.441L426.708 551.282C418.784 571.348 396.381 580.518 376.662 571.765Z"
               stroke="var(--primary-dark)" stroke-width="2" stroke-miterlimit="10"></path>
            <path
               d="M115.525 575.71L45.2359 544.485C25.5131 535.723 15.9473 512.352 23.8672 492.276L52.0921 420.73C60.012 400.654 82.4152 391.485 102.138 400.246L172.427 431.471C192.149 440.233 201.715 463.605 193.795 483.68L165.57 555.226C157.659 575.299 135.247 584.472 115.525 575.71Z"
               stroke="var(--primary-dark)" stroke-width="2" stroke-miterlimit="10"></path>
            <path
               d="M185.275 121.967L151.156 106.81C135.544 99.8747 127.966 81.3589 134.235 65.4683L147.936 30.7383C154.205 14.8477 171.953 7.58327 187.565 14.5184L221.684 29.6757C237.296 36.6109 244.874 55.1268 238.605 71.0173L224.904 105.747C218.635 121.638 200.895 128.899 185.275 121.967Z"
               stroke="var(--primary-dark)" stroke-width="2" stroke-miterlimit="10"></path>
            <path
               d="M141.303 344.782L115.419 333.283C106.513 329.327 102.19 318.765 105.766 309.699L116.16 283.352C119.736 274.287 129.861 270.143 138.767 274.099L164.651 285.598C173.557 289.555 177.88 300.117 174.304 309.182L163.91 335.529C160.334 344.595 150.209 348.739 141.303 344.782Z"
               stroke="var(--primary-dark)" stroke-width="2" stroke-miterlimit="10"></path>
            <path
               d="M88.3079 244.487L79.933 240.767C75.6064 238.845 73.5055 233.712 75.2429 229.308L78.6059 220.783C80.3433 216.379 85.2636 214.365 89.5903 216.287L97.9652 220.007C102.292 221.93 104.393 227.063 102.655 231.467L99.2923 239.991C97.5549 244.395 92.6346 246.409 88.3079 244.487Z"
               stroke="var(--primary-dark)" stroke-width="2" stroke-miterlimit="10"></path>
            <path
               d="M83.1256 390.858L42.9082 372.992C29.7259 367.135 23.3286 351.505 28.622 338.087L44.7716 297.15C50.065 283.732 65.0478 277.6 78.23 283.456L118.447 301.322C131.63 307.178 138.027 322.808 132.734 336.227L116.584 377.163C111.291 390.582 96.3167 396.71 83.1256 390.858Z"
               fill="var(--primary-dark)"></path>
            <path
               d="M275.11 335.94L195.637 300.634C175.914 291.873 166.348 268.501 174.268 248.426L206.181 167.531C214.101 147.455 236.504 138.285 256.227 147.047L335.7 182.352C355.423 191.114 364.989 214.486 357.069 234.561L325.156 315.456C317.245 335.528 294.833 344.701 275.11 335.94Z"
               fill="var(--rgba-primary)"></path>
            <path
               d="M416.689 688.933L358.103 662.906C338.38 654.144 328.814 630.773 336.734 610.697L360.26 551.063C368.18 530.987 390.583 521.818 410.306 530.579L468.892 556.606C488.615 565.367 498.181 588.739 490.261 608.815L466.735 668.449C458.815 688.525 436.412 697.694 416.689 688.933Z"
               fill="white"></path>
            <path
               d="M405.915 602.876L186.991 505.621C167.268 496.859 157.702 473.488 165.622 453.412L253.533 230.571C261.453 210.495 283.856 201.326 303.579 210.087L522.503 307.343C542.226 316.105 551.792 339.476 543.872 359.552L455.961 582.393C448.041 602.469 425.638 611.638 405.915 602.876Z"
               fill="var(--primary-dark)"></path>
            <path
               d="M144.79 606.827L74.5018 575.601C54.779 566.84 45.2132 543.468 53.133 523.393L81.358 451.847C89.2779 431.771 111.681 422.601 131.404 431.363L201.693 462.588C221.415 471.35 230.981 494.721 223.061 514.797L194.836 586.343C186.916 606.419 164.504 615.592 144.79 606.827Z"
               fill="var(--primary-dark)"></path>
            <path
               d="M214.529 153.078L180.409 137.921C164.798 130.986 157.219 112.47 163.488 96.5792L177.189 61.8492C183.458 45.9587 201.207 38.6942 216.818 45.6293L250.938 60.7867C266.549 67.7219 274.127 86.2377 267.859 102.128L254.158 136.858C247.893 152.758 230.153 160.019 214.529 153.078Z"
               fill="var(--primary-dark)"></path>
            <path
               d="M170.56 375.902L144.676 364.404C135.769 360.447 131.446 349.885 135.023 340.82L145.417 314.473C148.993 305.407 159.118 301.263 168.024 305.22L193.908 316.718C202.814 320.675 207.137 331.237 203.56 340.302L193.167 366.649C189.59 375.715 179.475 379.855 170.56 375.902Z"
               fill="var(--primary-dark)"></path>
            <path
               d="M117.561 275.598L109.186 271.878C104.86 269.956 102.759 264.823 104.496 260.419L107.859 251.894C109.596 247.49 114.517 245.476 118.843 247.398L127.218 251.118C131.545 253.04 133.646 258.173 131.909 262.577L128.546 271.102C126.808 275.506 121.897 277.517 117.561 275.598Z"
               fill="var(--primary-dark)"></path>
         </g>
      </svg>
   </div>
   <!-- ************************************ Service We  offer start ******************************* -->
   <section id="service-section" class="content-inner overflow-hidden position-relative">
      <div class="container">
         <div class="section-head text-center">
            <h2 class="title wow fadeInUp" data-wow-delay="0.8s">Service We offer</h2>
         </div>
         <div class="row justify-content-center">
            <div class="col-lg-12 col-md-12">
               <div class="row align-items-center">
                  <div class="col-lg-6 col-md-6 m-b30">
                     <div class="wow bounceInRight">
                        <img id="img-new" src="/Frontend/newimg/section_img/Recruitment_image.png" alt="">
                     </div>
                  </div>
                  <div class="col-lg-6 col-md-6 m-b30">
                     <div class="icon-bx-wraper icon-content-service-new-main  wow bounceInLeft" data-wow-delay="1.2s">
                        <div class="icon-content icon-content-service-new">
                           <h4 class="title">Recruitment</h4>
                           <p class="text mt-3">Welcome to Hirewell, your trusted partner in educational staffing
                              solutions. Renowned as a premier teacher’s recruitment agency, we specialize in
                              seamlessly connecting educational institutions with highly qualified and exceptional
                              teaching and non-teaching professionals. At Hirewell, we take pride in playing a
                              pivotal role in the education sector by serving schools and other educational
                              organizations, ensuring they find the perfect candidates to meet their unique
                              requirements.
                           </p>
                        </div>
                        <div class="row stetic-img-icon  mt-4 d-flex justify-content-between g-3">
                           <div class="col-md-6">
                              <a href="./recruitment">
                                 <span>
                                    <i class="fa-solid fa-hand-holding-heart"></i>
                                    <h4>Benefits for Schools</h4>
                                 </span>
                              </a>
                           </div>
                           <div class="col-md-6">
                              <a href="./recruitment">
                                 <span id="too">
                                    <i class="fa-brands fa-buffer"></i>
                                    <h4>What We Offer</h4>
                                 </span>
                              </a>
                           </div>
                           <div class="col-md-6 mt-3">
                              <a href="./recruitment">
                                 <span id="too">
                                    <i class="fa-solid fa-question"></i>
                                    <h4>Why Hirewell</h4>
                                 </span>
                              </a>
                           </div>
                           <div class="col-md-6 mt-3">
                              <a href="./recruitment">
                                 <span>
                                    <i class="fa-solid fa-lightbulb"></i>
                                    <h4>How We Do It</h4>
                                 </span>
                              </a>
                           </div>
                        </div>
                        <span class="dread-more-button">
                        <a href="./recruitment" class="btn btn-primary mt-5">Know More <i
                           class="ri-arrow-right-line"></i></a>
                        </span>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
   <section class="overflow-hidden position-relative" id="Training-section">
      <div class="container">
         <div class="row justify-content-center">
            <div class="col-lg-12 col-md-12">
               <div class="row align-items-center reverce-div ">
                  <div class="col-lg-6 col-md-6 m-b30">
                     <div class="icon-bx-wraper icon-content-service-new-main  wow bounceInRight" data-wow-delay="1.2s">
                        <div class="icon-content icon-content-service-new">
                           <h4 class="title">Training</h4>
                           <!-- <h2 class="title">Top Digital IT Business in the Worldwide</h2> -->
                           <p class="text mt-3">Welcome to Hirewell, where our commitment to education goes beyond
                              recruitment. Renowned as a premier teacher's recruitment agency, we not only connect
                              educational institutions with exceptional staff but also specialize in empowering
                              educators through our comprehensive training services. At Hirewell, we understand
                              the evolving landscape of education and prioritize equipping teachers with the
                              latest pedagogical techniques to foster excellence in teaching..
                           </p>
                        </div>
                        <div class="row stetic-img-icon  mt-4 d-flex justify-content-between g-3">
                           <div class="col-md-6">
                              <a href="./training">
                                 <span>
                                    <i class="fa-solid fa-hand-holding-heart"></i>
                                    <h4>Benefits for Schools</h4>
                                 </span>
                              </a>
                           </div>
                           <div class="col-md-6">
                              <a href="./training">
                                 <span id="too">
                                    <i class="fa-brands fa-buffer"></i>
                                    <h4>What We Offer</h4>
                                 </span>
                              </a>
                           </div>
                           <div class="col-md-6 mt-3">
                              <a href="./training">
                                 <span id="too">
                                    <i class="fa-solid fa-question"></i>
                                    <h4>Why Hirewell</h4>
                                 </span>
                              </a>
                           </div>
                           <div class="col-md-6 mt-3">
                              <a href="./training">
                                 <span>
                                    <i class="fa-solid fa-lightbulb"></i>
                                    <h4>How We Do It</h4>
                                 </span>
                              </a>
                           </div>
                        </div>
                        <span class="dread-more-button">
                        <a href="./training" class="btn btn-primary mt-5">Know More <i class="ri-arrow-right-line"></i></a>
                        </span>
                     </div>
                  </div>
                  <div class="col-lg-6 col-md-6 m-b30">
                     <div class="wow bounceInLeft">
                        <img id="img-new" src="/Frontend/newimg/section_img/Training_image.png" alt="">
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
   <section class="content-inner overflow-hidden position-relative mt-3" id="PreschoolSetup-section">
      <div class="container">
         <div class="row justify-content-center">
            <div class="col-lg-12 col-md-12">
               <div class="row align-items-center">
                  <div class="col-lg-6 col-md-6 m-b30">
                     <div class="pre-school-img wow bounceInRight">
                        <img id="img-new" src="/Frontend/newimg/section_img/PRE_SCHOOL_SETUP.jpg" alt="">
                     </div>
                  </div>
                  <div class="col-lg-6 col-md-6 m-b30">
                     <div class="icon-bx-wraper icon-content-service-new-main  wow bounceInLeft" data-wow-delay="1.2s">
                        <div class="icon-content icon-content-service-new">
                           <h4 class="title">Preschool Setup & Solutions</h4>
                           <p class="text mt-3">Embarking on the journey of establishing a preschool is a
                              multifaceted endeavor, and at Hirewell, we specialize in providing comprehensive
                              solutions for every aspect of school setup. Our Preschool Setup Services are
                              tailored to ensure a seamless and successful initiation for both educators and
                           </p>
                        </div>
                        <div class="row stetic-img-icon  mt-4 d-flex justify-content-between g-3">
                           <div class="col-md-6">
                              <a href="./preschoolsetups">
                                 <span>
                                    <i class="fa-solid fa-hand-holding-heart"></i>
                                    <h4>Benefits for Schools</h4>
                                 </span>
                              </a>
                           </div>
                           <div class="col-md-6">
                              <a href="./preschoolsetups">
                                 <span id="too">
                                    <i class="fa-brands fa-buffer"></i>
                                    <h4>What We Offer</h4>
                                 </span>
                              </a>
                           </div>
                           <div class="col-md-6 mt-3">
                              <a href="./preschoolsetups">
                                 <span id="too">
                                    <i class="fa-solid fa-question"></i>
                                    <h4>Why Hirewell</h4>
                                 </span>
                              </a>
                           </div>
                           <div class="col-md-6 mt-3">
                              <a href="./preschoolsetups">
                                 <span>
                                    <i class="fa-solid fa-lightbulb"></i>
                                    <h4>How We Do It</h4>
                                 </span>
                              </a>
                           </div>
                        </div>
                        <span class="dread-more-button">
                        <a href="./preschoolsetups" class="btn btn-primary mt-5">Know More <i
                           class="ri-arrow-right-line"></i></a>
                        </span>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
   <!-- ************************************ Solutions  start ******************************* -->
   <!-- ************************************ Preschool Setups start ******************************* -->
   <!-- ************************************ Preschool Setups end ******************************* -->
   <!-- ************************************ About us start ******************************* -->
   <section class="content-inner overflow-hidden position-relative">
      <div class="container">
         <div class="section-head text-center">
            <!-- <h6 class="text wow fadeInUp" data-wow-delay="0.6s">About Us </h6> -->
            <h2 class="title wow fadeInUp" data-wow-delay="0.8s">About Us</h2>
         </div>
         <div class="row justify-content-center">
            <div class="col-lg-12 col-md-12">
               <div class="row align-items-center">
                  <div class="col-lg-5 col-md-5 m-b30 about-img">
                     <div class="about-logo-img wow fadeInLeft" data-wow-delay=".5">
                        <img src="/Frontend/newimg/logo.png" alt="">
                        <!-- <div class="about-logo-img">
                           </div> -->
                     </div>
                  </div>
                  <div class="col-lg-7 col-md-7 m-b30">
                     <div class="icon-bx-wraper wow fadeInRight" data-wow-delay=".5s">
                        <div class="icon-content about-us-content">
                           <!-- <h6 class="title">About Hirewell</h6> -->
                           <!-- <h2 class="title">About Us</h2> -->
                           <p class="text mt-3">
                              At <b>HIREWELL</b>, we are more than just a teacher's recruitment agency; we are
                              your dedicated partners in shaping the future of education. Specializing in
                              connecting educational institutions with qualified and quality teaching and
                              non-teaching staff, we play a pivotal role in the education sector. Our mission is
                              to serve and assist schools and educational organizations in finding the perfect
                              candidates to meet their unique needs. By aligning our services with the specific
                              requirements of each institution, we contribute to the enhancement of the
                              educational landscape.
                           </p>
                        </div>
                        <div class="row stetic-img-icon mt-4 d-flex justify-content-between about-contect-img g-3">
                           <div class="col-md-4 color1" id="about-contect-img1">
                              <span class="d-flex flex-column align-items-center vision-button">
                              <img src="/Frontend/newimg/about1.png" alt="">
                              <a class="mt-4" href="/aboutUs">Vision<i class="ri-arrow-right-line"></i></a>
                              </span>
                           </div>
                           <div class="col-md-4">
                              <span class="d-flex flex-column align-items-center" id="c2-a">
                              <img src="/Frontend/newimg/about2.png" alt="">
                              <a class="mt-4" href="/aboutUs">Mission<i class="ri-arrow-right-line"></i></a>
                              </span>
                           </div>
                           <div class="col-md-4 " id="about-contect-img1">
                              <span class="d-flex flex-column align-items-center" id="c3-a">
                              <img src="/Frontend/newimg/about3.png" alt="">
                              <a class="mt-4" href="/aboutUs">Values<i class="ri-arrow-right-line"></i></a>
                              </span>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
   <!-- ************************************ About us end ******************************* -->
   <!-- ************************************ Recruitment Steps start ******************************* -->
   <section class="content-inner overflow-hidden position-relative">
      <div class="container">
         <div class="section-head text-center">
            <h2 class="title wow fadeInUp" data-wow-delay="0.8s">Recruitment Steps </h2>
         </div>
         <section class="iq-features wow fadeInUp" data-wow-delay="1.0s">
            <div class="container">
               <div class="row align-items-center">
                  <div class="col-lg-3 col-md-12"></div>
                  <div class="col-lg-6 col-md-12">
                     <div class="holderCircle">
                        <div class="round"></div>
                        <div class="dotCircle">
                           <span class="itemDot active itemDot1 itemDot1-new" data-tab="1">
                              <i class="fa fa-clock-o">
                                 start 
                                 <p>01</p>
                              </i>
                              <span class="forActive"></span>
                           </span>
                           <span class="itemDot itemDot2" data-tab="2">
                           <i class="fa fa-commens">02</i>
                           <span class="forActive"></span>
                           </span>
                           <span class="itemDot itemDot3" data-tab="3">
                           <i class="fa fa-use">03</i>
                           <span class="forActive"></span>
                           </span>
                           <span class="itemDot itemDot4" data-tab="4">
                           <i class="fa fa-ta">04</i>
                           <span class="forActive"></span>
                           </span>
                           <span class="itemDot itemDot5" data-tab="5">
                           <i class="fa fa-uploa">05</i>
                           <span class="forActive"></span>
                           </span>
                           <span class="itemDot itemDot6" data-tab="6">
                           <i class="fa fa-briefcas">06</i>
                           <span class="forActive"></span>
                           </span>
                           <span class="itemDot itemDot7 itemDot1-new itemDot1-new1" data-tab="7">
                              <i class="fa fa-briefcas">
                                 end 
                                 <p>07</p>
                              </i>
                              <span class="forActive"></span>
                           </span>
                        </div>
                        <div class="contentCircle">
                           <div class="CirItem title-box active CirItem1">
                              <h2 class="title"><span>Step 1</span></h2>
                              <p>Identify the hiring needs as per the mail received from the Schools
                              </p>
                              <img src="/Frontend/newimg/logo.png" alt="">
                           </div>
                           <div class="CirItem title-box CirItem2">
                              <h2 class="title"><span>Step 2</span></h2>
                              <p>Prepare job descriptions.</p>
                              <img src="/Frontend/newimg/logo.png" alt="">
                           </div>
                           <div class="CirItem title-box CirItem3">
                              <h2 class="title"><span>Step 3</span></h2>
                              <p>Devise recruitment strategy.</p>
                              <img src="/Frontend/newimg/logo.png" alt="">
                           </div>
                           <div class="CirItem title-box CirItem4">
                              <h2 class="title"><span>Step 4</span></h2>
                              <p>Screen and shortlist candidates.</p>
                              <img src="/Frontend/newimg/logo.png" alt="">
                           </div>
                           <div class="CirItem title-box CirItem5">
                              <h2 class="title"><span>Step 5</span></h2>
                              <p>Conduct interviews and train them if needed</p>
                              <img src="/Frontend/newimg/logo.png" alt="">
                           </div>
                           <div class="CirItem title-box CirItem6">
                              <h2 class="title"><span>Step 6</span></h2>
                              <p>Evaluate and make the offer as per the school payment structure</p>
                              <img src="/Frontend/newimg/logo.png" alt="">
                           </div>
                           <div class="CirItem title-box CirItem7">
                              <h2 class="title"><span>Step 7</span></h2>
                              <p>Onboard the new employee.</p>
                              <img src="/Frontend/newimg/logo.png" alt="">
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-3 col-md-12"></div>
               </div>
            </div>
         </section>
         <div class="icon-content-service-new-main job-aply-bottom">
            <span class="dread-more-button wow fadeInUp" data-wow-delay="0.8s">
            <a href="javascript:void(0);" data-bs-toggle="modal" data-bs-target=".bd-example-modal-lg1"
               class="btn btn-primary">Post Requirement</a>
            </span>
         </div>
      </div>
   </section>
   <!-- ************************************ Recruitment Steps end ******************************* -->
   <!-- ************************************ Jolly Phonics start ******************************* -->
   <section class="content-inner overflow-hidden position-relative" id="JollyPhonics-section">
      <div class="container">
         <div class="section-head text-center">
            <h6 class="text wow fadeInUp" data-wow-delay="0.6s"> </h6>
            <h2 class="title wow fadeInUp" data-wow-delay="0.8s">Jolly Phonics</h2>
         </div>
         <div class="row justify-content-center">
            <div class="col-lg-12 col-md-12">
               <div class="row align-items-center">
                  <div class="col-lg-6 col-md-6 m-b30">
                     <div class="wow bounceInRight">
                        <img id="img-new" src="/Frontend/newimg/section_img/jolly_phonics.png" alt="">
                     </div>
                  </div>
                  <div class="col-lg-6 col-md-6 m-b30">
                     <div class="icon-bx-wraper icon-content-service-new-main  wow bounceInLeft" data-wow-delay="1.2s">
                        <div class="icon-content icon-content-service-new">
                           <!-- <h4 class="title">Jolly Phonics</h4> -->
                           <!-- <h2 class="title">Top Digital IT Business in the Worldwide</h2> -->
                           <p class="text mt-3">Jolly Phonics is a comprehensive synthetic phonics
                              program that teaches children the essential skills needed for reading
                              and writing. It uses a systematic, multi-sensory approach that engages
                              children through actions, songs, and stories. By focusing on the 42
                              letter sounds of the English language, Jolly Phonics provides a solid
                              foundation for literacy development.
                           </p>
                           <p class="text mt-3">Our training equip educators with the necessary skills
                              and knowledge to implement Jolly Phonics in their classrooms. By
                              investing in this training, our teachers will gain a deeper
                              understanding of phonics instruction, enabling them to deliver engaging
                              and effective lessons.
                              Which will help the children to improve their spelling abilities. By
                              understanding the relationship between sounds and letters, children will
                              be able to spell words correctly and with greater ease.
                           </p>
                        </div>
                        <div class="row stetic-img-icon  mt-4 d-flex justify-content-between g-3">
                           <div class="col-md-6">
                              <a href="./jollyphonics">
                                 <span>
                                    <i class="fa-solid fa-hand-holding-heart"></i>
                                    <h4>Benefits for teachers</h4>
                                 </span>
                              </a>
                           </div>
                           <div class="col-md-6">
                              <a href="./jollyphonics">
                                 <span id="too">
                                    <i class="fa-solid fa-hand-holding-heart"></i>
                                    <h4>Benefits for teachers</h4>
                                 </span>
                              </a>
                           </div>
                        </div>
                        <span class="dread-more-button">
                        <a href="./jollyphonics" class="btn btn-primary mt-5">Know More <i
                           class="ri-arrow-right-line"></i></a>
                        </span>
                        <!-- <a class="mt-4" href="#">View More<i class="ri-arrow-right-line"></i></a> -->
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
   <!-- ************************************ Jolly Phonics end ******************************* -->
   <!-- ************************************ corrent opning start ******************************* -->
   <% const reversedOpenings=openings.reverse(); %>
   <% const hasActiveJobs=reversedOpenings.some(opening=> opening.status === 'Active'); %>
   <% if (hasActiveJobs) { %>
   <section class="content-inner overflow-hidden position-relative">
      <div class="container">
         <div class="section-head text-center">
            <!-- <h6 class="text wow fadeInUp" data-wow-delay="0.6s">Jobs</h6> -->
            <h2 class="title wow fadeInUp" data-wow-delay="0.8s">Current Openings</h2>
         </div>
         <div class="row g-4">
            <% reversedOpenings.slice(0, 3).forEach((opening, index)=> { %>
            <% if (opening.status==='Active' ) { %>
            <div class="col-xl-4 col-md-6  m-b30">
               <div class="career-open-card wow fadeInUp" data-wow-delay="1.0s">
                  <span id="career-img">
                     <img src="<%= opening.opnlogo.url %>" alt="">
                     <div class="important">
                        <% if (opening.opnPreference==='on' ) { %>
                        <img src="/Frontend/newimg/important.png" alt="">
                        <h5>urgent</h5>
                        <% } else { %>
                        <% } %>
                     </div>
                  </span>
                  <div class="bottom-career-center">
                     <h4>
                        <%= opening.opnTitle %>
                     </h4>
                     <h5>
                        <%= opening.opnCompney %>
                     </h5>
                     <h6><i class="ri-map-pin-fill"></i>
                        <%= opening.opnLnocation %>
                     </h6>
                  </div>
                  <span id="post-date">
                     <p>Posted day: <span>
                        <%= opening.createdAt.toLocaleDateString() %>
                        </span>
                     </p>
                     <p>Last day: <span>
                        <%= opening.opnLastDate.toLocaleDateString() %>
                        </span>
                     </p>
                  </span>
                  <div class="bottom-career-card">
                     <p><i class="ri-bar-chart-line"></i>
                        <%= opening.opnExp %>
                     </p>
                     <p><i class="ri-time-line"></i>
                        <%= opening.opnType %>
                     </p>
                     <p><i class="ri-wallet-3-line"></i></i>₹<%= opening.opnMaxPrice %> / <%= opening.opnPriceType
                        %>
                     </p>
                     <p><i class="ri-door-open-fill"></i>Total Openings (<%= opening.opnTotalOpenings %>)</p>
                  </div>
                  <span id="career-img">
                     <img class="invisible" src="/Frontend/newimg/React.webp" alt="">
                     <!-- <a class="btn btn-success" href="<%= isAuthenticated ? '/teacher/jobDescription/' + opening._id : '/jobDescription/' + opening._id %>">Apply Now</a> -->
                     <% if (isAuthenticated) { %>
                     <a class="btn <%= appliedOpeningsIds.includes(opening._id.toString()) ? 'btn-primary disabled' : 'btn-success' %>"
                        href="<%= '/teacher/jobDescription/' + opening._id %>">
                     <%= appliedOpeningsIds.includes(opening._id.toString()) ? 'Applied' : 'Apply Now' %>
                     </a>
                     <% } else { %>
                     <a class="btn btn-success" href="<%= '/jobDescription/' + opening._id %>">
                     Apply Now
                     </a>
                     <% } %>
                  </span>
               </div>
            </div>
            <% } %>
            <% }); %>
         </div>
         <div class="icon-content-service-new-main job-aply-bottom">
            <a href="<%= isAuthenticated ? '/teacher/openings' : '/openings' %>"
               class="btn btn-primary mt-5 wow fadeInUp" data-wow-delay="0.8s">View More <i
               class="ri-arrow-right-line"></i></a>
         </div>
      </div>
   </section>
   <% } %>
   <!-- ************************************ corrent opning end ******************************* -->
   <!-- ********************************************************** Training Topics start *********************************************** -->
   <section class="content-inner overflow-hidden position-relative">
      <div class="container">
         <div class="section-head text-center">
            <!-- <h6 class="text wow fadeInUp" data-wow-delay="0.6s">Training Events</h6> -->
            <h2 class="title wow fadeInUp" data-wow-delay="0.8s">Training Topics</h2>
         </div>
         <div class="row">
            <div class="col-xl-4 col-md-6 training-topic-main m-b30">
               <div class="dz-card style-1 overlay-shine wow fadeInUp" data-wow-delay="1.0s">
                  <div class="dz-info text-center training-topic">
                     <i class="fa-solid fa-code-branch"></i>
                     <h4 class="dz-title mt-3">MULTIPLE INTELLIGENCE</h4>
                     <p class="mt-3">Understanding that intelligence goes beyond traditional academic measures,
                        our Multiple Intelligence training explores Howard Gardner's theory, acknowledging various
                        forms of intelligence present in individuals.
                     </p>
                     <a href="./trainingtopics#multiple-intelligence-section" class="btn btn-primary">Know
                     More</a>
                  </div>
               </div>
            </div>
            <div class="col-xl-4 col-md-6 training-topic-main  m-b30">
               <div class="dz-card style-1 overlay-shine wow fadeInUp" data-wow-delay="1.0s">
                  <div class="dz-info text-center training-topic">
                     <i class="fa-solid fa-book-open-reader"></i>
                     <h4 class="dz-title mt-3">LITERACY TRAINING</h4>
                     <p class="mt-3">Literacy Training with Hirewell focuses on empowering educators with
                        effective tools and methodologies to enhance literacy skills among teachers.
                     </p>
                     <a href="./trainingtopics#LITERACY-TRAINING" class="btn btn-primary">Know More</a>
                  </div>
               </div>
            </div>
            <div class="col-xl-4 col-md-6 training-topic-main  m-b30">
               <div class="dz-card style-1 overlay-shine wow fadeInUp" data-wow-delay="1.0s">
                  <div class="dz-info text-center training-topic">
                     <i class="fa-solid fa-arrow-up-z-a"></i>
                     <h4 class="dz-title mt-3">JOLLY PHONICS</h4>
                     <p class="mt-3">Jolly Phonics is a systematic and multi-sensory approach to teaching phonics.
                        Hirewell's training ensures educators master this program to enhance early literacy
                        skills.
                     </p>
                     <a href="./trainingtopics#JOLLY-PHONICS" class="btn btn-primary">Know More</a>
                  </div>
               </div>
            </div>
            <div class="col-xl-4 col-md-6 training-topic-main  m-b30">
               <div class="dz-card style-1 overlay-shine wow fadeInUp" data-wow-delay="1.0s">
                  <div class="dz-info text-center training-topic">
                     <i class="fa-solid fa-chalkboard-user"></i>
                     <h4 class="dz-title mt-3">CLASSROOM MANAGEMENT</h4>
                     <p class="mt-3">Effective classroom management is crucial for creating a positive and
                        productive learning environment. Hirewell's training equips educators with strategies to
                        maintain order while fostering a positive atmosphere.
                     </p>
                     <a href="./trainingtopics#CLASSROOM-MANAGEMENT" class="btn btn-primary">Know More</a>
                  </div>
               </div>
            </div>
            <div class="col-xl-4 col-md-6 training-topic-main  m-b30">
               <div class="dz-card style-1 overlay-shine wow fadeInUp" data-wow-delay="1.0s">
                  <div class="dz-info text-center training-topic">
                     <i class="fa-solid fa-brain"></i>
                     <h4 class="dz-title mt-3">SIX THINKING HATS</h4>
                     <p class="mt-3">Six Thinking Hats, a method developed by Edward de Bono, enhances critical
                        thinking and decision-making skills. Hirewell's training delves into this powerful tool
                        for effective problem-solving.
                     </p>
                     <a href="./trainingtopics#SIX-THINKING-HATS" class="btn btn-primary">Know More</a>
                  </div>
               </div>
            </div>
            <div class="col-xl-4 col-md-6 training-topic-main  m-b30">
               <div class="dz-card style-1 overlay-shine wow fadeInUp" data-wow-delay="1.0s">
                  <div class="dz-info text-center training-topic">
                     <i class="fa-solid fa-users"></i>
                     <h4 class="dz-title mt-3">MIND MAPPING</h4>
                     <p class="mt-3">Mind Mapping is a powerful visual tool that aids in organizing thoughts and
                        ideas. Hirewell's training on Mind Mapping equips educators with this effective technique
                        for enhancing creativity and learning.
                     </p>
                     <a href="./trainingtopics#MIND-MAPPING" class="btn btn-primary">Know More</a>
                  </div>
               </div>
            </div>
            <div class="col-xl-4 col-md-6 training-topic-main  m-b30">
               <div class="dz-card style-1 overlay-shine wow fadeInUp" data-wow-delay="1.0s">
                  <div class="dz-info text-center training-topic">
                     <i class="fa-solid fa-puzzle-piece"></i>
                     <h4 class="dz-title mt-3">PLAY BASED LEARNING </h4>
                     <p class="mt-3">Play-based learning is a pedagogical approach that recognizes the importance
                        of play in a child's development. Hirewell's training focuses on incorporating play into
                        educational practices for optimal learning outcomes.
                     </p>
                     <a href="./trainingtopics#PLAY-BASED-LEARNING" class="btn btn-primary">Know More</a>
                  </div>
               </div>
            </div>
            <div class="col-xl-4 col-md-6 training-topic-main  m-b30">
               <div class="dz-card style-1 overlay-shine wow fadeInUp" data-wow-delay="1.0s">
                  <div class="dz-info text-center training-topic">
                     <i class="fa-solid fa-pen"></i>
                     <h4 class="dz-title mt-3">EARLY LITERACY AND NUMERACY</h4>
                     <p class="mt-3">Early literacy and numeracy are foundational skills crucial for a child's
                        academic success. Hirewell's training focuses on equipping educators with effective
                        strategies to foster these skills in young learners.
                     </p>
                     <a href="./trainingtopics#EARLY-LITERACY-AND-NUMERACY" class="btn btn-primary">Know
                     More</a>
                  </div>
               </div>
            </div>
            <div class="col-xl-4 col-md-6 training-topic-main  m-b30">
               <div class="dz-card style-1 overlay-shine wow fadeInUp" data-wow-delay="1.0s">
                  <div class="dz-info text-center training-topic">
                     <i class="fa-solid fa-comments"></i>
                     <h4 class="dz-title mt-3">PARENT TEACHER COMMUNICATION</h4>
                     <p class="mt-3">Effective communication between parents and teachers is crucial for a child's
                        holistic development. Hirewell's training focuses on strategies to establish and maintain
                        positive and collaborative relationships.
                     </p>
                     <a href="./trainingtopics#PARENT-TEACHER-COMMUNICATION" class="btn btn-primary">Know
                     More</a>
                  </div>
               </div>
            </div>
            <div class="col-xl-4 col-md-6 training-topic-main  m-b30">
               <div class="dz-card style-1 overlay-shine wow fadeInUp" data-wow-delay="1.0s">
                  <div class="dz-info text-center training-topic">
                     <i class="fa-solid fa-child"></i>
                     <h4 class="dz-title mt-3">CHILD DEVELOPMENT</h4>
                     <p class="mt-3">Understanding child development is fundamental for educators to provide
                        age-appropriate learning experiences. Hire well’s training focuses on the various stages
                        of child development and effective teaching strategies.
                     </p>
                     <a href="./trainingtopics#CHILD-DEVELOPMENT" class="btn btn-primary">Know More</a>
                  </div>
               </div>
            </div>
            <div class="col-xl-4 col-md-6 training-topic-main  m-b30">
               <div class="dz-card style-1 overlay-shine wow fadeInUp" data-wow-delay="1.0s">
                  <div class="dz-info text-center training-topic">
                     <i class="fa-solid fa-graduation-cap"></i>
                     <h4 class="dz-title mt-3">VALUE EDUCATION</h4>
                     <p class="mt-3">Value education is integral to developing well-rounded individuals with a
                        strong moral compass. Hirewell's training focuses on incorporating values into the
                        educational experience, fostering character development.
                     </p>
                     <a href="./trainingtopics#VALUE-EDUCATION" class="btn btn-primary">Know More</a>
                  </div>
               </div>
            </div>
            <div class="col-xl-4 col-md-6 training-topic-main  m-b30">
               <div class="dz-card style-1 overlay-shine wow fadeInUp" data-wow-delay="1.0s">
                  <div class="dz-info text-center training-topic">
                     <i class="fa-solid fa-face-angry"></i>
                     <h4 class="dz-title mt-3">STRESS MANAGEMENT</h4>
                     <p class="mt-3 text-justify">Educators often face high-stress levels, impacting their
                        well-being and teaching effectiveness. Hirewell's training on stress management equips
                        teachers with strategies to maintain a healthy work-life balance.
                     </p>
                     <a href="./trainingtopics#STRESS-MANAGEMENT" class="btn btn-primary">Know More</a>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
   <!-- ********************************************************** Training Topics end *********************************************** -->
   <!-- ************************************ Training Events  start ******************************* -->
   <% const reversedBlogs1=trainingEvents.reverse(); %>
   <% const hasActiveBlogs1=reversedBlogs1.some(blog=> blog.status === 'Active'); %>
   <% if (hasActiveBlogs1) { %>
   <section class="content-inner overflow-hidden position-relative">
      <div class="container">
         <div class="section-head text-center">
            <!-- <h6 class="text wow fadeInUp" data-wow-delay="0.6s">Training Events</h6> -->
            <h2 class="title wow fadeInUp" data-wow-delay="0.8s"> HireWell Training Events </h2>
         </div>
         <div class="row">
            <% reversedBlogs1.slice(0, 3).forEach((blog, index)=> { %>
            <% if (blog.status==='Active' ) { %>
            <div class="col-xl-4 col-md-6 m-b30">
               <div class="dz-card style-1 overlay-shine wow fadeInUp blog-main-card">
                  <div class="dz-media dz-media1 dz-media25">
                     <img src="<%= blog.trainingBanner.url %>" alt="">
                     <span class="date"><a href="javascript:void(0)">
                     <%= new Date(blog.createdAt).toLocaleDateString('en-US', { day: 'numeric' ,
                        month: 'short' , year: 'numeric' }) %>
                     </a></span>
                  </div>
                  <div class="dz-info">
                     <h4 class="dz-title">
                        <%= blog.trainingHeading %>
                     </h4>
                     <p class="limited-lines">
                        <%= blog.trainingDescription1 %>
                     </p>
                     <div class="dz-meta mb-4" style="margin-top: -1vmax;">
                        <ul>
                           <li class="post-author text-primary text-capitalize">
                              <span>
                              <i class="fa-solid fa-location-dot"></i>
                              </span>
                              <%= blog.trainingLocation %>
                           </li>
                           <li class="post-date text-primary text-capitalize">
                            <span>
                            <i class="fa-solid fa-chalkboard-user"></i>
                            </span>
                            <% if (blog.trainingProgram==='Other Training' ) { %>
                            <%= blog.otherTraining %>
                            <% } else { %>
                            <%= blog.trainingProgram %>
                            <% } %>
                         </li>
                           <li class="post-date text-primary">
                              <span>
                              <i class="fa-solid fa-calendar-days"></i>
                              </span>
                              <%= new Date(blog.trainingStartDate).toLocaleDateString('en-US', {
                                 day: 'numeric' , month: 'short' , year: 'numeric' }) %>
                              -
                              <%= new Date(blog.trainingEndDate).toLocaleDateString('en-US', {
                                 month: 'short' , day: 'numeric' , year: 'numeric' }) %>
                           </li>
                        </ul>
                     </div>

                     <div class="row">
                        <div class="col-md-12 d-flex">
                           <div class="col-md-6">
                              <img class="invisible" src="/Frontend/newimg/React.webp" alt="">
                           </div>
                           <div class="col-md-6 text-end">
                              <% if (isAuthenticated) { %>
                                 <a class="btn <%= appliedTrainingIds.includes(blog._id.toString()) ? 'btn-primary disabled' : 'btn-success' %>"
                                    href="<%= '/teacher/trainings-Events-Detailss/' + blog._id %>">
                                    <%= appliedTrainingIds.includes(blog._id.toString()) ? 'Applied'
                                       : 'Apply Now' %>
                                 </a>
                                 <% } else { %>
                                    <a class="btn btn-success"
                                       href="<%= '/trainings-Events-Detailss/' + blog._id %>">
                                       Apply Now
                                    </a>
                                    <% } %>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <% } %>
            <% }); %>
         </div>
         <div class="icon-content-service-new-main job-aply-bottom">
            <a href="javascript:void(0);" data-bs-toggle="modal" data-bs-target=".bd-example-modal-lg1"
               class="btn btn-primary mt-5 wow fadeInUp" data-wow-delay="0.8s">Register Now</i></a>
         </div>
      </div>
   </section>
   <% } %>
   <!-- ***************************************************** Training Events  end ************************************ -->
   <!-- ********************************************************** why we are start *********************************************** -->
   <section class="content-inner-1 overflow-hidden position-relative bg-white">
      <div class="container">
         <div class="section-head text-center">
            <!-- <h6 class="text wow fadeInUp" data-wow-delay="0.6s">Clents Testimonials</h6> -->
            <h2 class="title wow fadeInUp" data-wow-delay="0.8s">Why Hire well</h2>
         </div>
         <div class="why-we-are-main wow fadeInUp" data-wow-delay=".5s">
            <div class="why-we-are-main-bottom">
               <div class="we-are-sec1">
                  <span>Category</span>
                  <div>Hirewell provides a platform for connecting teachers with the top schools.</div>
               </div>
               <div class="we-are-sec2 we-are-sec03">
                  <span>Best Buy</span>
                  <div>At Hirewell we understand the pre requirement of the schools even before the
                     candidates are screened and shortlisted
                  </div>
               </div>
               <div class="we-are-sec2 we-are-sec04">
                  <span>Premium</span>
                  <div>We have a huge databases of teaching and non teaching staff that are updating
                     daily. This will help schools who wants to put their requirements faster and on a
                     top priority basis.
                  </div>
               </div>
               <div class="we-are-sec2 we-are-sec05">
                  <span>Custom Illustration</span>
                  <div>The alerts on new opportunities will be received by the subscribed candidates who
                     are looking for their dream teaching profile.
                  </div>
               </div>
               <div class="we-are-sec2 we-are-sec04">
                  <span>Best Buy</span>
                  <div>We are working hard to reduce the hiring challenges faced by institutions by making
                     it easy for them to find the ideal teachers ina tough market
                  </div>
               </div>
               <div class="we-are-sec2 we-are-sec02">
                  <span>Premium</span>
                  <div>We are constantly focusing on making the process of job-hunting less frustrating
                     for those in the field of teaching.
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
   <!-- ********************************************************** why we are end *********************************************** -->
   <section class="content-inner-1 overflow-hidden position-relative bg-white">
      <div class="container">
         <div class="section-head text-center">
            <!-- <h6 class="text wow fadeInUp" data-wow-delay="0.6s">Clents Testimonials</h6> -->
            <h2 class="title wow fadeInUp" data-wow-delay="0.8s">What A Job Holder Says About Us.</h2>
         </div>
         <div class="swiper-container blog-swiper-1 overflow-hidden">
            <div class="swiper-wrapper">
               <div class="swiper-slide">
                  <div class="dz-card blog-grid style-2 bg-light wow fadeInUp" data-wow-delay="1.0s">
                     <div class="dz-text">
                        <p class="text">This is the best job searching site l’ve ever seen. i found my
                           dream job through this site, come and grab this golden opportunity!
                        </p>
                     </div>
                     <div class="dz-info">
                        <div class="bottom-contact">
                           <div class="dz-media">
                              <a href="/blogDetails"><img
                                 src="/Frontend/assets/frontend/images/blog/small/pic1.jpg" alt=""></a>
                           </div>
                           <div>
                              <h6 class="dz-title"><a href="/blogDetails">Ashley Jenkins</a></h6>
                              <p class="text">Designer</p>
                           </div>
                        </div>
                        <svg width="111" height="79" viewBox="0 0 111 79" fill="none"
                           xmlns="http:/www.w3.org/2000/svg">
                           <path
                              d="M24.6166 0.323242C11.0432 0.323242 0.00183105 11.3646 0.00183105 24.9382C0.00183105 38.0324 10.2777 48.7721 23.1889 49.5141C23.4124 51.9277 23.2447 58.4977 16.9491 67.6369C16.4732 68.3264 16.5596 69.2561 17.1506 69.8472C19.7269 72.4235 21.319 74.046 22.4334 75.1808C23.8918 76.6645 24.5575 77.342 25.5313 78.2262C25.8615 78.5259 26.2781 78.6766 26.6966 78.6766C27.103 78.6766 27.5078 78.5344 27.8347 78.2515C38.805 68.7057 50.9914 48.9822 49.2282 24.8128C48.1951 10.6228 37.8447 0.323242 24.6166 0.323242ZM26.7135 74.5727C26.241 74.107 25.7023 73.5583 24.908 72.7502C23.9426 71.7663 22.6181 70.418 20.6093 68.4025C28.2498 56.6294 26.8066 48.2438 26.1749 47.0412C25.8751 46.4705 25.2602 46.0859 24.6166 46.0859C12.9571 46.0859 3.47058 36.5994 3.47058 24.9382C3.47058 13.2785 12.9571 3.79199 24.6166 3.79199C35.9748 3.79199 44.8703 12.7382 45.7696 25.0634C47.7513 52.2478 31.5949 69.898 26.7135 74.5727Z"
                              fill="var(--primary)" />
                           <path
                              d="M110.827 24.8128C109.791 10.6246 99.4387 0.323242 86.2141 0.323242C72.6406 0.323242 61.5975 11.3646 61.5975 24.9382C61.5975 38.0324 71.875 48.7721 84.788 49.5141C85.0115 51.9259 84.8421 58.4924 78.5449 67.6369C78.069 68.3264 78.1554 69.2561 78.7464 69.8472C81.3125 72.4132 82.9011 74.0324 84.0156 75.1655C85.4807 76.6593 86.1498 77.3402 87.1287 78.2277C87.4589 78.5259 87.8772 78.6766 88.294 78.6766C88.7005 78.6766 89.1053 78.5344 89.4321 78.2498C100.402 68.7039 112.589 48.9806 110.827 24.8128ZM88.3108 74.5727C87.8349 74.1036 87.2914 73.5515 86.4901 72.7351C85.5247 71.7526 84.2054 70.4079 82.205 68.4025C89.8454 56.6276 88.4041 48.2438 87.774 47.0412C87.4742 46.4722 86.8578 46.0859 86.2141 46.0859C74.5527 46.0859 65.0662 36.5994 65.0662 24.9382C65.0662 13.2785 74.5527 3.79199 86.2141 3.79199C97.5705 3.79199 106.468 12.7382 107.369 25.0651C109.349 52.2461 93.1922 69.898 88.3108 74.5727Z"
                              fill="var(--primary)" />
                        </svg>
                     </div>
                  </div>
               </div>
               <div class="swiper-slide">
                  <div class="dz-card blog-grid style-2 bg-light wow fadeInUp" data-wow-delay="1.2s">
                     <div class="dz-text">
                        <p class="text">This is the best job searching site l’ve ever seen. i found my
                           dream job through this site, come and grab this golden opportunity!
                        </p>
                     </div>
                     <div class="dz-info">
                        <div class="bottom-contact">
                           <div class="dz-media">
                              <a href="/blogDetails"><img
                                 src="/Frontend/assets/frontend/images/blog/small/pic2.jpg" alt=""></a>
                           </div>
                           <div>
                              <h6 class="dz-title"><a href="/blogDetails">Jennifer</a></h6>
                              <p class="text">CEO & Founder</p>
                           </div>
                        </div>
                        <svg width="111" height="79" viewBox="0 0 111 79" fill="none"
                           xmlns="http:/www.w3.org/2000/svg">
                           <path
                              d="M24.6166 0.323242C11.0432 0.323242 0.00183105 11.3646 0.00183105 24.9382C0.00183105 38.0324 10.2777 48.7721 23.1889 49.5141C23.4124 51.9277 23.2447 58.4977 16.9491 67.6369C16.4732 68.3264 16.5596 69.2561 17.1506 69.8472C19.7269 72.4235 21.319 74.046 22.4334 75.1808C23.8918 76.6645 24.5575 77.342 25.5313 78.2262C25.8615 78.5259 26.2781 78.6766 26.6966 78.6766C27.103 78.6766 27.5078 78.5344 27.8347 78.2515C38.805 68.7057 50.9914 48.9822 49.2282 24.8128C48.1951 10.6228 37.8447 0.323242 24.6166 0.323242ZM26.7135 74.5727C26.241 74.107 25.7023 73.5583 24.908 72.7502C23.9426 71.7663 22.6181 70.418 20.6093 68.4025C28.2498 56.6294 26.8066 48.2438 26.1749 47.0412C25.8751 46.4705 25.2602 46.0859 24.6166 46.0859C12.9571 46.0859 3.47058 36.5994 3.47058 24.9382C3.47058 13.2785 12.9571 3.79199 24.6166 3.79199C35.9748 3.79199 44.8703 12.7382 45.7696 25.0634C47.7513 52.2478 31.5949 69.898 26.7135 74.5727Z"
                              fill="var(--primary)" />
                           <path
                              d="M110.827 24.8128C109.791 10.6246 99.4387 0.323242 86.2141 0.323242C72.6406 0.323242 61.5975 11.3646 61.5975 24.9382C61.5975 38.0324 71.875 48.7721 84.788 49.5141C85.0115 51.9259 84.8421 58.4924 78.5449 67.6369C78.069 68.3264 78.1554 69.2561 78.7464 69.8472C81.3125 72.4132 82.9011 74.0324 84.0156 75.1655C85.4807 76.6593 86.1498 77.3402 87.1287 78.2277C87.4589 78.5259 87.8772 78.6766 88.294 78.6766C88.7005 78.6766 89.1053 78.5344 89.4321 78.2498C100.402 68.7039 112.589 48.9806 110.827 24.8128ZM88.3108 74.5727C87.8349 74.1036 87.2914 73.5515 86.4901 72.7351C85.5247 71.7526 84.2054 70.4079 82.205 68.4025C89.8454 56.6276 88.4041 48.2438 87.774 47.0412C87.4742 46.4722 86.8578 46.0859 86.2141 46.0859C74.5527 46.0859 65.0662 36.5994 65.0662 24.9382C65.0662 13.2785 74.5527 3.79199 86.2141 3.79199C97.5705 3.79199 106.468 12.7382 107.369 25.0651C109.349 52.2461 93.1922 69.898 88.3108 74.5727Z"
                              fill="var(--primary)" />
                        </svg>
                     </div>
                  </div>
               </div>
               <div class="swiper-slide">
                  <div class="dz-card blog-grid style-2 bg-light wow fadeInUp" data-wow-delay="1.4s">
                     <div class="dz-text">
                        <p class="text">This is the best job searching site l’ve ever seen. i found my
                           dream job through this site, come and grab this golden opportunity!
                        </p>
                     </div>
                     <div class="dz-info">
                        <div class="bottom-contact">
                           <div class="dz-media">
                              <a href="/blogDetails"><img
                                 src="/Frontend/assets/frontend/images/blog/small/pic3.jpg" alt=""></a>
                           </div>
                           <div>
                              <h6 class="dz-title"><a href="/blogDetails"> Ronald Richards</a>
                              </h6>
                              <p class="text">Consultant</p>
                           </div>
                        </div>
                        <svg width="111" height="79" viewBox="0 0 111 79" fill="none"
                           xmlns="http:/www.w3.org/2000/svg">
                           <path
                              d="M24.6166 0.323242C11.0432 0.323242 0.00183105 11.3646 0.00183105 24.9382C0.00183105 38.0324 10.2777 48.7721 23.1889 49.5141C23.4124 51.9277 23.2447 58.4977 16.9491 67.6369C16.4732 68.3264 16.5596 69.2561 17.1506 69.8472C19.7269 72.4235 21.319 74.046 22.4334 75.1808C23.8918 76.6645 24.5575 77.342 25.5313 78.2262C25.8615 78.5259 26.2781 78.6766 26.6966 78.6766C27.103 78.6766 27.5078 78.5344 27.8347 78.2515C38.805 68.7057 50.9914 48.9822 49.2282 24.8128C48.1951 10.6228 37.8447 0.323242 24.6166 0.323242ZM26.7135 74.5727C26.241 74.107 25.7023 73.5583 24.908 72.7502C23.9426 71.7663 22.6181 70.418 20.6093 68.4025C28.2498 56.6294 26.8066 48.2438 26.1749 47.0412C25.8751 46.4705 25.2602 46.0859 24.6166 46.0859C12.9571 46.0859 3.47058 36.5994 3.47058 24.9382C3.47058 13.2785 12.9571 3.79199 24.6166 3.79199C35.9748 3.79199 44.8703 12.7382 45.7696 25.0634C47.7513 52.2478 31.5949 69.898 26.7135 74.5727Z"
                              fill="var(--primary)" />
                           <path
                              d="M110.827 24.8128C109.791 10.6246 99.4387 0.323242 86.2141 0.323242C72.6406 0.323242 61.5975 11.3646 61.5975 24.9382C61.5975 38.0324 71.875 48.7721 84.788 49.5141C85.0115 51.9259 84.8421 58.4924 78.5449 67.6369C78.069 68.3264 78.1554 69.2561 78.7464 69.8472C81.3125 72.4132 82.9011 74.0324 84.0156 75.1655C85.4807 76.6593 86.1498 77.3402 87.1287 78.2277C87.4589 78.5259 87.8772 78.6766 88.294 78.6766C88.7005 78.6766 89.1053 78.5344 89.4321 78.2498C100.402 68.7039 112.589 48.9806 110.827 24.8128ZM88.3108 74.5727C87.8349 74.1036 87.2914 73.5515 86.4901 72.7351C85.5247 71.7526 84.2054 70.4079 82.205 68.4025C89.8454 56.6276 88.4041 48.2438 87.774 47.0412C87.4742 46.4722 86.8578 46.0859 86.2141 46.0859C74.5527 46.0859 65.0662 36.5994 65.0662 24.9382C65.0662 13.2785 74.5527 3.79199 86.2141 3.79199C97.5705 3.79199 106.468 12.7382 107.369 25.0651C109.349 52.2461 93.1922 69.898 88.3108 74.5727Z"
                              fill="var(--primary)" />
                        </svg>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="num-pagination style-1">
         <div class="testimonial-next btn-prev wow bounceInLeft" data-wow-delay="1.6s"><i
            class="fa-solid fa-angle-left"></i></div>
         <div class="testimonial-prev btn-next wow bounceInRight" data-wow-delay="1.8s"><i
            class="fa-solid fa-angle-right"></i></div>
      </div>
   </section>
   <!-- ************************************ Training Events  start ******************************* -->
   <% const reversedBlogs=blogs.reverse(); %>
   <% const hasActiveBlogs=reversedBlogs.some(blog=> blog.status === 'Active'); %>
   <% if (hasActiveBlogs) { %>
   <section class="content-inner overflow-hidden position-relative">
      <div class="container">
         <div class="section-head text-center">
            <h2 class="title wow fadeInUp" data-wow-delay="0.8s">Our Blogs</h2>
         </div>
         <div class="row">
            <% reversedBlogs.slice(0, 3).forEach((blog, index)=> { %>
            <% if (blog.status==='Active' ) { %>
            <div class="col-xl-4 col-md-6 m-b30">
               <div class="dz-card style-1 overlay-shine wow fadeInUp blog-main-card"
                  data-wow-delay="1.0s">
                  <div class="dz-media dz-media1">
                     <a
                        href="<%= isAuthenticated ? '/teacher/blogDetails/' + blog._id : '/blogDetails/' + blog._id %>">
                     <img src="<%= blog.blogimg.url %>" alt="">
                     </a>
                     <span class="date">
                     <a href="javascript:void(0)">
                     <%= new Date(blog.createdAt).toLocaleDateString() %>
                     </a>
                     </span>
                  </div>
                  <div class="dz-info">
                     <h4 class="dz-title">
                        <a
                           href="<%= isAuthenticated ? '/teacher/blogDetails/' + blog._id : '/blogDetails/' + blog._id %>">
                        <%= blog.blogHeading %>
                        </a>
                     </h4>
                     <a href="<%= isAuthenticated ? '/teacher/blogDetails/' + blog._id : '/blogDetails/' + blog._id %>"
                        class="btn btn-primary mt-2">Read More</a>
                  </div>
               </div>
            </div>
            <% } %>
            <% }); %>
         </div>
         <div class="icon-content-service-new-main job-aply-bottom">
            <a href="./blogGrid" class="btn btn-primary mt-5 wow fadeInUp"
               data-wow-delay="0.8s">View More
            <i class="ri-arrow-right-line"></i></a>
         </div>
      </div>
   </section>
   <% } %>
   <!-- ************************************************ Training Events  end ************************************ -->
   <!-- Map Iframe -->
   <%- include('partials/contactForm.ejs') %>
   <!-- Map Iframe End -->
   <!--footer-action -->
   <%- include('partials/letsGet.ejs') %>
   <!-- footer-action -->
</div>
<!-- Page Content End -->
<%- include('partials/footer.ejs') %>