<%- include('partials/nav.ejs') %>
<!-- Page Content Start -->
<div class="page-content user-dash-board">
   <!-- Banner  -->
   <div class="dz-bnr-inr dz-bnr-inr-sm text-center overlay-primary-dark user-dash-board"
      style="background-image: url(/Frontend/assets/frontend/images/banner/bnr1.jpg);">
      <div class="container">
         <div class="dz-bnr-inr-entry">
            <h1>Dashboard</h1>
            <!-- Breadcrumb Row -->
            <nav aria-label="breadcrumb" class="breadcrumb-row m-t15">
               <ul class="breadcrumb">
                  <li class="breadcrumb-item"><a href="admin/index">Home</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
               </ul>
            </nav>
            <!-- Breadcrumb Row End -->
         </div>
      </div>
   </div>
   <!-- Banner End -->
   <section class="content-inner overflow-hidden position-relative">
      <div class="container">
         <div class="row">
            <% const activeOpenings=openings.filter(opening=> opening.status === 'Active'); %>
            <% const activeTrainings=training.filter(blog=> blog.status === 'Active'); %>
            <% if (activeOpenings.length> 0 || activeTrainings.length > 0) { %>
               <div class="col-md-12">
                  <h3 class="subtitle wow fadeInUp text-center" data-wow-delay="0.8s">
                     <span style="opacity: 0.8; text-transform: uppercase;">
                     Welcome <%= student.firstname %>
                     <%= student.lastname %> 😊
                     </span>
                  </h3>
               </div>
            <div class="col-md-12">
               <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                  <div class="row w-100">
                     <div class="col-md-2">
                        <li class="nav-item" role="presentation">
                           <button class="nav-link active w-75" id="pills-open-tab"
                              data-bs-toggle="pill" data-bs-target="#pills-open" type="button"
                              role="tab" aria-controls="pills-home"
                              aria-selected="true">Openings (<%= openings.length %>)</button>
                        </li>
                     </div>
                     <div class="col-md-3">
                        <li class="nav-item" role="presentation">
                           <button class="nav-link w-75" id="pills-event-tab"
                              data-bs-toggle="pill" data-bs-target="#pills-event"
                              type="button" role="tab" aria-controls="pills-profile"
                              aria-selected="false">Training Events (<%= training.length %>)</button>
                        </li>
                     </div>
                  </div>
               </ul>
               <div class="tab-content" id="pills-tabContent">
                  <div class="tab-pane fade show active" id="pills-open" role="tabpanel"
                     aria-labelledby="pills-open-tab">
                     <div class="row">
                        <div class="col-md-12">
                           <div class="section-head text-center">
                              <h3 class="subtitle wow fadeInUp" data-wow-delay="0.8s">
                                 <% const activeOpenings=openings.filter(opening=>
                                    opening.status ==='Active'); %>
                                 <% if (activeOpenings.length> 0) { %>
                                    
                                 <% } else { %>
                                    <div class="col-12 d-flex justify-content-center">
                                       <h2 class="text-danger">No Jobs</h2>
                                    </div>
                                 <% } %>
                              </h3>
                           </div>
                        </div>
                        <div class="col-md-12">
                           <div class="row">
                              <% openings.forEach((opening, index)=> { %>
                              <% if (opening.status==='Active' ) { %>
                              <div class="col-xl-4 col-md-6  m-b30">
                                 <div class="career-open-card wow fadeInUp"
                                    data-wow-delay="1.0s">
                                    <span id="career-img">
                                       <img src="<%= opening.opnlogo.url %>"
                                          alt="">
                                       <div class="important">
                                          <% if (opening.opnPreference==='on' ) {
                                             %>
                                          <img src="/Frontend/newimg/important.png"
                                             alt="">
                                          <h5>urgent</h5>
                                          <% } %>
                                       </div>
                                    </span>
                                    <div class="bottom-career-center">
                                       <h4>
                                          <%= opening.opnTitle %>
                                       </h4>
                                       <h5>
                                          <%= opening.opnCompney %>
                                       </h5>
                                       <h6><i class="ri-map-pin-fill"></i>
                                          <%= opening.opnLnocation %>
                                       </h6>
                                    </div>
                                    <span id="post-date">
                                       <p>Posted day: <span>
                                          <%= new
                                             Date(opening.createdAt).toLocaleDateString()
                                             %>
                                          </span>
                                       </p>
                                       <p>Last day: <span>
                                          <%= new
                                             Date(opening.opnLastDate).toLocaleDateString()
                                             %>
                                          </span>
                                       </p>
                                    </span>
                                    <div class="bottom-career-card">
                                       <p><i class="ri-bar-chart-line"></i>
                                          <%= opening.opnExp %>
                                       </p>
                                       <p><i class="ri-time-line"></i>
                                          <%= opening.opnType %>
                                       </p>
                                       <p><i class="ri-wallet-3-line"></i>₹<%=
                                          opening.opnMaxPrice %> / <%=
                                          opening.opnPriceType %>
                                       </p>
                                       <p><i class="ri-door-open-fill"></i>Total
                                          Openings (<%= opening.opnTotalOpenings
                                             %>)
                                       </p>
                                    </div>
                                    <span id="career-img">
                                    <a class="btn btn-danger"
                                       href="/teacher/remove/job/<%= opening._id %>">
                                    Remove
                                    </a>
                                    <a class="btn btn-primary"
                                       href="/teacher/jobDescription/<%= opening._id %>">
                                    <%= opening.applied ? "Apply Now"
                                       : "Applied" %>
                                    </a>
                                    </span>
                                 </div>
                              </div>
                              <% } %>
                              <% }); %>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="tab-pane fade" id="pills-event" role="tabpanel"
                     aria-labelledby="pills-event-tab">
                     <div class="row">
                        <div class="col-md-12">
                           <div class="section-head text-center">
                              <h3 class="subtitle wow fadeInUp" data-wow-delay="0.8s">
                                 <% const activeOpenings1=training.filter(opening=>
                                    opening.status ===
                                    'Active'); %>
                                 <% if (activeOpenings1.length> 0) { %>
                                    
                                 <% } else { %>
                                    <div class="col-12 d-flex justify-content-center">
                                       <h2 class="text-danger">No Training Events</h2>
                                    </div>
                                 </span>
                                 <% } %>
                              </h3>
                           </div>
                        </div>
                        <div class="col-md-12">
                           <div class="row">
                              <% training.forEach((blog, index)=> { %>
                              <% if (blog.status==='Active' ) { %>
                              <div class="col-xl-4 col-md-6 m-b30">
                                 <div
                                    class="dz-card style-1 overlay-shine wow fadeInUp blog-main-card">
                                    <div class="dz-media dz-media1 dz-media25">
                                       <img src="<%= blog.trainingBanner.url %>"
                                          alt="">
                                       <span class="date"><a
                                          href="javascript:void(0)">
                                       <%= new
                                          Date(blog.createdAt).toLocaleDateString('en-US',
                                          { day: 'numeric' ,
                                          month: 'short' , year: 'numeric'
                                          }) %>
                                       </a></span>
                                    </div>
                                    <div class="dz-info">
                                       <h4 class="dz-title">
                                          <%= blog.trainingHeading %>
                                       </h4>
                                       <p class="limited-lines">
                                          <%= blog.trainingDescription1 %>
                                       </p>
                                       <div class="dz-meta mb-4"
                                          style="margin-top: -1vmax;">
                                          <ul>
                                             <li
                                                class="post-author text-primary text-capitalize">
                                                <span>
                                                <i
                                                   class="fa-solid fa-location-dot"></i>
                                                </span>
                                                <%= blog.trainingLocation %>
                                             </li>
                                             <li class="post-date text-primary">
                                                <span>
                                                <i
                                                   class="fa-solid fa-calendar-days"></i>
                                                </span>
                                                <%= new
                                                   Date(blog.trainingStartDate).toLocaleDateString('en-US',
                                                   { day: 'numeric' ,
                                                   month: 'short' ,
                                                   year: 'numeric' }) %>
                                                -
                                                <%= new
                                                   Date(blog.trainingEndDate).toLocaleDateString('en-US',
                                                   { month: 'short' ,
                                                   day: 'numeric' ,
                                                   year: 'numeric' }) %>
                                             </li>
                                             <li
                                                class="post-date text-primary text-capitalize">
                                                <span>
                                                <i
                                                   class="fa-solid fa-chalkboard-user"></i>
                                                </span>
                                                <% if
                                                   (blog.trainingProgram==='Other Training'
                                                   ) { %>
                                                <%= blog.otherTraining %>
                                                <% } else { %>
                                                <%= blog.trainingProgram
                                                   %>
                                                <% } %>
                                             </li>
                                          </ul>
                                       </div>
                                       <div class="row">
                                        <div class="col-md-12 d-flex">
                                            <div class="col-md-6">
                                                <a class="btn btn-danger"
                                                href="/teacher/remove/opening/<%= blog._id %>">
                                             Remove
                                             </a>
                                            </div>
                                            <div class="col-md-6 text-end">
                                                <a class="btn btn-primary"
                                                href="/teacher/trainings-Events-Detailss/<%= blog._id %>">
                                             <%= blog.applied ? "Apply Now"
                                                : "Applied" %>
                                             </a>
                                            </div>
                                        </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <% } %>
                              <% }); %>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <% } else { %>
            <div class="col-md-12">
               <h3 class="subtitle wow fadeInUp text-center" data-wow-delay="0.8s">
                  <span style="opacity: 0.8; text-transform: uppercase;">
                  Welcome <%= student.firstname %>
                  <%= student.lastname %> 😊
                  </span>
               </h3>
            </div>
            <% } %>
         </div>
      </div>
   </section>
   <!-- Map Iframe End -->
   <!--footer-action -->
   <%- include('partials/letsGet.ejs') %>
   <!-- footer-action -->
</div>
<!-- Page Content End -->
<%- include('partials/footer.ejs') %>